body {
    background-image: url(../../images/bg-bottom.svg), url(../../images/bg-top.svg);
    background-position: bottom left, -1100% -25%;
    background-repeat: no-repeat;
    background-color: $very-light-grayish-blue;
}