html {
  font-size: 15px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark-grayish-blue;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;

  @media(min-width: 900px) {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: column;

  &--mobile {
    flex-direction: row;
  }

  @media(min-width: 900px) {
    flex-direction: row;
  }
}