main {
    .main__title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3em;
        margin-bottom: 2em;
    }

    .toggle-container {
        margin: 0 auto;
        color: $light-grayish-blue;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
}