main {
    .toggle-container {
        .toggle-container__input {
            position: relative;
            height: 1.75rem;
            width: 3.5rem;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            border-radius: 30px;
            background: $linear-gradient;
            transition: .25s;

            &::before {
                position: absolute;
                content: '';
                transform: translateX(0%);
                left: 12%;
                top: 12%;
                height: 1.35rem;
                width: 1.35rem;
                cursor: pointer;
                border-radius: 100%;
                background-color: $very-light-grayish-blue;
                transition: .25s;
            }

            &:checked::before {
                transform: translateX(100%);
            }

            &:hover {
                opacity: .75;
            }
        }
    }
}