@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap";
*, :before, :after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizespeed;
  min-height: 100vh;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

html {
  font-size: 15px;
}

body {
  color: #494c5f;
  font-family: Montserrat, sans-serif;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

@media (width >= 900px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  flex-direction: column;
  display: flex;
}

.row--mobile {
  flex-direction: row;
}

@media (width >= 900px) {
  .row {
    flex-direction: row;
  }
}

main .main__title {
  text-align: center;
  color: #6d708d;
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 1.5rem;
}

@media (width >= 900px) {
  main .main__title {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    font-size: 2rem;
  }
}

main .toggle-container {
  color: #b3b5c6;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}

main .cards-container {
  justify-content: center;
  gap: 2em;
  margin-top: 5.5em;
  margin-bottom: 4em;
  position: relative;
}

@media (width >= 900px) {
  main .cards-container {
    align-items: center;
    gap: 19em;
  }
}

main .cards-container .card {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 0 50px -40px #00000080;
}

@media (width >= 1200px) {
  main .cards-container .card {
    width: 27%;
  }
}

@media (width >= 900px) and (width <= 1200px) {
  main .cards-container .card {
    width: 35%;
    max-width: 320px;
  }
}

main .cards-container .card .card__header {
  text-align: center;
  color: #6d708d;
  font-size: 1rem;
}

main .cards-container .card .card__pricing {
  justify-content: center;
  align-items: center;
  margin: .25em 0;
  font-size: 2.5rem;
  display: flex;
}

main .cards-container .card .card__pricing-span {
  font-size: 3.25rem;
}

@media (width >= 900px) {
  main .cards-container .card .card__pricing-span {
    font-size: 4rem;
  }
}

main .cards-container .card .card__info {
  text-align: center;
  color: #6d708d;
  border-top: 1px solid #f6f6fe;
  padding: 1em;
  font-size: 1rem;
}

main .cards-container .card .card__info--bottom {
  border-bottom: 1px solid #f6f6fe;
}

main .cards-container .card .card__button {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1em;
  cursor: pointer;
  background-color: #696fdd;
  border: 1px solid #0000;
  border-radius: 7px;
  width: 100%;
  margin-top: 2em;
  padding: .75em;
  transition: all .25s;
}

main .cards-container .card .card__button:hover {
  color: #696fdd;
  background: #fff;
  border: 1px solid #696fdd;
}

main .cards-container .card--purple {
  color: #fff;
  background: linear-gradient(#a3a8f0, #696fdd 50%);
}

@media (width >= 900px) {
  main .cards-container .card--purple {
    padding: 3em 2em;
    position: absolute;
  }
}

main .cards-container .card--purple .card__header, main .cards-container .card--purple .card__info {
  color: #fff;
}

main .cards-container .card--purple .card__button {
  color: #696fdd;
  background: #fff;
  border: 1px solid #0000;
}

main .cards-container .card--purple .card__button:hover {
  color: #fff;
  background-color: #696fdd;
  border: 1px solid #fff;
}

body {
  background-color: #f6f6fe;
  background-image: url("bg-bottom.8e8bb96d.svg"), url("bg-top.8f436dd6.svg");
  background-position: 0 100%, 100% 0;
  background-repeat: no-repeat;
}

main .toggle-container .toggle-container__input {
  cursor: pointer;
  appearance: none;
  background: linear-gradient(#a3a8f0, #696fdd 50%);
  border-radius: 30px;
  width: 3.5rem;
  height: 1.75rem;
  transition: all .25s;
  position: relative;
}

main .toggle-container .toggle-container__input:before {
  content: "";
  cursor: pointer;
  background-color: #f6f6fe;
  border-radius: 100%;
  width: 1.35rem;
  height: 1.35rem;
  transition: all .25s;
  position: absolute;
  top: 12%;
  left: 12%;
  transform: translateX(0%);
}

main .toggle-container .toggle-container__input:checked:before {
  transform: translateX(100%);
}

main .toggle-container .toggle-container__input:hover {
  opacity: .75;
}

/*# sourceMappingURL=index.db23566c.css.map */
